<ion-header>

  <ion-navbar>
    <ion-title>Manage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="manage">
  <div padding>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button value="attributes">
        Attributes
      </ion-segment-button>
      <ion-segment-button value="providers">
        Providers
      </ion-segment-button>
    </ion-segment>
  </div>

    <div [ngSwitch]="type">
      <ion-list *ngSwitchCase="'attributes'">
        <ion-item *ngFor="let a of attributes" (click)="loadAbiPage(a)">
          <h3>{{ a.description }}</h3>
          <ion-icon name="download" item-right></ion-icon>
        </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'providers'">
          <ion-item *ngFor="let p of providers">
            <h2>{{ p.name }}</h2>
            <h3>{{ p.description }}</h3>
          </ion-item>
      </ion-list>
    </div>
</ion-content>
